body {
    align-items: center;
    justify-content: center;
}

body::-webkit-scrollbar{
    display: none;
  }

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 0px;
    height: 100vh;
}

#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 100%;
}

.card {
    width: 350px;
    text-align: center;
    position: relative;
    padding: 40px 25px;
    background-color: rgba(55, 55, 81, 0.2);
    border: 1px solid #474452;
    border-radius: 16px;
    /* box-shadow: 0 4px 30px #1d1d28, inset 0 5px 10px 0px #313746; */
    margin: 10px;
}

.card:hover::before {
    opacity: 1;
}

.card::before {
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        rgba(118, 101, 96, 0.2), 
        transparent 40%
    );
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity 500ms;
    border-radius: inherit;
    content: "";
    z-index: 2;
}

#icon {
    background-color: rgba(55, 55, 81, 0.05);
}

.title {
    background-color: rgba(55, 55, 81, 0.02);
}

.cardBtn {
    position: relative;
    background-color: #4b4345;
    color: #e8bfa5;
    padding: 7px 15px;
    text-align: center;
    transition: 300ms;
    transition-timing-function: ease-in-out;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid #766560;
    border-radius: 30px;
    margin-bottom: 40px;
    z-index: 10;
}

.cardBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 2px rgba(232, 191, 165, 0.4),
                0 0 3px rgba(232, 191, 165, 0.4),
                0 0 6px rgba(232, 191, 165, 0.4);
    
}

.percentage {
    font-size: 26px;
    font-weight: 400;
    padding-left: 4px;
}

.row {
    display: flex;
    
}

.column {
    flex: 50%;
    line-height: 10px;
    background-color: rgba(55, 55, 81, 0.2);
}

.column h1, p {
    background-color: rgba(55, 55, 81, 0.02);
}