* {
    box-sizing: border-box;
    color: white;
    background-color: #1e1e2c ;
    font-family: 'Inter', sans-serif;
} 

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 600;
}

p {
    font-weight: 300;
    color: #9b9bb0;
}
